<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.harifrizki.crimemapsapps">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CrimeMapsApps"
        tools:ignore="AllowBackup,LockedOrientationActivity">
        <activity
            android:name=".ui.module.crimelocation.detail.DetailCrimeLocationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.module.crimelocation.form.FormCrimeLocationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.module.crimelocation.list.ListOfCrimeLocationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.module.area.form.FormAreaActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.module.area.list.ListOfAreaActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.component.activity.CropPhotoActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.module.admin.changepassword.ChangePasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.module.admin.list.ListOfAdminActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.module.admin.profile.ProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.component.activity.ConnectionErrorActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.module.dashboard.DashboardActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.module.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.module.splash.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path_file_image" />
        </provider>
    </application>

</manifest>